<div class="content" style="text-align: center; height: 84%">
  <h3>Suchbild Tag 2</h3>
  <div class="grid" style="width: 100%;
    height: 100%;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr) repeat(3, 0);
    grid-template-rows: 1fr repeat(4, 0);
    grid-column-gap: 0px;
    grid-row-gap: 0px;">
    <div class="div1">
      <img src="assets/images/tag1/tag1.jpeg" alt="" style="width: 800px;">
    </div>
    <div class="div2">
      <img src="assets/images/tag1/tag1suchgitter.jpeg" alt="" style="width: 800px;">
    </div>
  </div>
</div>
