<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <img  style="width: 75px; cursor: pointer" class="navbar-brand" [src]="'./assets/logo/logoquiz.png'"
          (click)="refresh()" alt=""/>
    <button class="navbar-toggler" type="button" (click)="isCollapsed =!isCollapsed"
            data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" [ngbCollapse]="isCollapsed"
         (click)="isCollapsed = !isCollapsed">
      <ul class="navbar-nav" style="width: 100%">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/home" routerLinkActive="selected" aria-current="page" href="#">Ablauf</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dayOne" routerLinkActive="selected" href="#">Bild 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dayTwo" routerLinkActive="selected" href="#">Bild 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dayThree" routerLinkActive="selected" href="#">Bild 3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dayFour" routerLinkActive="selected" href="#">Bild 4</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dayFive" routerLinkActive="selected" href="#">Bild 5</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/daySix" routerLinkActive="selected" href="#">Bild 6</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/daySeven" routerLinkActive="selected" href="#">Bild 7</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
