/* You can add global styles to this file, and also import other style files */
html, body{
  background-color: #d4e1cb !important;
  color: #364134 !important;
  width: 100%;
  display: block;
  height: 100%
}
div{
  line-height: 30px !important;

}

//NavBar//

nav{
  .navbar.navbar-expand-lg.navbar-dark.bg-light{
    background-color: black !important;

  }
}
.navbar.navbar-expand-lg.navbar-light.bg-light{
}

.nav-link{
  color: #7da87b !important;
}

.nav-link.selected{
  color: #d4e1cb !important;
  font-weight: bold !important;
  // font-style: italic !important;
  // text-decoration: underline !important;
}

a{
  color: #6b725b !important;
  // text-decoration: underline !important;
}

// NavBar//



