
<div style="height: 85%; display: grid;">
  <h3 style="margin-bottom: 25px; margin-top: 15px; text-align: center">Herzlichen willkommen beim lustigen Fehlersuchen :)</h3>

  <div class="container-lg" style="text-align: center; height: 85%; display: block">
    <h4>In den Tabs findest du 7 Bilder. <br><br> Auf jedem Bild haben sich Fehler eingeschlichen, die es zu finden gilt.<br><br>
      Wir fangen mit einem Fehler an und steigern uns pro Bild.<br><br>
      Über diesen <span style="color: #25bf1e; text-decoration: underline; cursor: pointer">
        <a href="https://www.test.de/" target="_blank">Link</a>
      </span> könnt ihr euch das Ergenis-Formular aufrufen und eure Ergebnisse eintragen.<br><br>
      Sendet und dieses an:</h4>
    <div style="margin-top: 33px;">
      <a style="font-size: 25px; color: #25bf1e !important" href= "mailto:ccc-Oberesbuehlertal@gmx.de">ccc-Oberesbuehlertal@gmx.de</a>
    </div>
  </div>
</div>

