
<div class="container-lg" style="padding-bottom: 30px;">
  <h3 style="margin-bottom: 25px; margin-top: 15px; text-align: center">Herzlich Willkommen beim lustigen Fehlersuchen mit der CC-Crew</h3>
  <div style="width: 100%;
    height: 250px;
    display: flex;
    justify-content: center; padding-bottom: 10px;">
    <img class="navbar-brand" [src]="'./assets/logo/logoquiz.png'"
          alt=""/>

  </div>

  <div class="container-lg" style="text-align: center; height: 85%; display: block">
    <h4>In den Tabs findest du 7 Bilder. <br><br> Auf jedem Bild haben sich Fehler eingeschlichen, die es zu finden gilt.<br><br>
      Wir fangen mit einem Fehler an und steigern uns pro Bild.<br><br>
      <span style="color: #25bf1e; text-decoration: underline; cursor: pointer">
        <a href="https://os5.mycloud.com/action/share/e56c0f8d-1c2d-4fac-b5ab-a157bdae2f04" target="_blank" style="color: #25bf1e !important;">Hier</a>
      </span> könnt ihr euch das Ergenis-Formular herunterladen und eure Ergebnisse eintragen.<br><br>
      Sendet uns dieses an:</h4>
    <div style="margin-top: 33px; margin-bottom: 33px;">
      <a style="font-size: 25px; color: #25bf1e !important" href= "mailto:ccc-Oberesbuehlertal@gmx.de">ccc-Oberesbuehlertal@gmx.de</a>
    </div>
    <h4>Oder ihr sendet es über unsere Social-Media-Kanäle an uns:</h4>

    <div style="margin-top: 33px; margin-bottom: 33px;display: inline-flex;">
      <a href="https://instagram.com/ccc_oberesbuehlertal?igshid=jny1x5dq5c2z" target="_blank"
         style="font-size: 25px; color: #25bf1e !important">
        Instagram</a>
      <h4 style="margin-left: 10px; margin-right: 10px;">|</h4>
      <a href="https://facebook.com/CCC-OberesBühlertal-106575434588752/" target="_blank"
         style="font-size: 25px; color: #25bf1e !important">
        Facebook</a>
    </div>



    <h4 style="color: #6b725b">Einsendeschluss ist der 10.04.2021. <br> Unter allen Einsendungen verlosen wir 3 Original CCC-Tassen!
    </h4>
  </div>
</div>

